/*----- Carousel -----*/

.container {
	margin: 20px auto;
}
.carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}

.carousel_item {
	float: left;
  padding-left: 5px;
}
.carousel_arrow {
	position: fixed;
	top: 0;
	z-index: 1;
	height: 100%;
	width: 30px;
	cursor: pointer;
}
.carousel_arrow_left {
	left: 0;
	background: url(../img/left-arrow.png) 11px 70px no-repeat;
}
.carousel_arrow_right {
	right: 0;
	background: url(../img/right-arrow.png) 17px 70px no-repeat;
}

/*----- UserProfile -----*/

body {
  background-color: #eee;
}
.profile_wrapper {
  width: 510px;
  max-width: 510px;
  margin: 5px auto 45px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 13px -1px #6E6767;
  -moz-box-shadow: 0 0 13px -1px #6E6767;
  box-shadow: 0 0 13px -1px #6E6767;
  font-size: 18px;
  text-align: left;
}
.profile_wrapper p {
  padding-left: 70px;
}
.profile_wrapper hr {
  width: 80%;
  margin: 20px auto;
}
.box_name {
  padding-top: 50px;
  text-align: center;
}
.box_name img {
  width: 150px;
  height: 150px;
  margin: 20px 0 15px;
}
.box_name p {
  text-align: left;
}
.box_objective ul {
  margin: 20px 0 0 70px;
}
.box_objective li {
  padding-bottom: 5px;
}
.contacts p {
  margin-bottom: 15px;
}
.feedback {
  padding-bottom: 65px;
}
.feedback p {
  padding-bottom: 5px;
}
