@import url("reset.css");
}
body {
	background-color: #fff;
}

header {
	height: 31px;
	font-size: 18px;
	font-family: Arial, sans-serif;
	line-height: 23px;
	margin-top: 3px;
}
.wrapper {
	width: 910px;
	min-height: 700px;
	margin: 0 auto;
	padding-top: 14px;
	background-color: #fff;
	position: relative;
 	min-height: 100%;
}
.phone {
	width: 22px;
	height: 22px;
	margin: 3px 0 0 6px;
	display: block;
	float: left;
	border-radius: 22px;
	background: linear-gradient(to top, #1e6584, #0c3357);
}
.numb_tel {
	float: left;
	margin-left: 4px;
	padding-top: 5px;
	color: #5e696d;
	font-family: Arial,  sans-serif;
	font-size: 18px;
}
.authoriz {
	float: left;
	height: 27px;
	width: 495px;
	margin-left: 24px;
	background: linear-gradient(to top, #0d3458, #1f6787);
	position: relative;
	border-radius: 3px;
	box-shadow: 3px 3px 5px 0px rgba(185,185,185,0.75);
}
.aut_img {
	display: block;
	position: absolute;
	top:5px;
	left:7px;
}
.aut_form {
	margin-left: 24px;
}
.aut_form input {
	width: 113px;
	height: 13px;
	border-radius: 1px;
	border-style: none;
	text-indent: 4px;
	margin-top: 3px;
	padding-top: 1px;
	padding-bottom: 2px;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 11px;
}
.aut_form ul li {
	float: left;
	margin-right: 8px;

}
.tin-tack button {
	float: left;
	margin: 4px 0 0 -9px;
	padding-right: 2px;
	background-color: transparent;
	border-style: none;
	color: #fff;
	font-size: 11px;
	font-family: "Lucida Sans Unicode",  sans-serif;
}
.tin-tack button:hover {
	cursor: pointer;
	color: #bfbfbf;
	text-decoration: underline;
}
.line {
	float: left;
	height: 10px;
	margin-top: 9px;
	border-left:  1px solid #d3d9df;
}
.registration li {
	display:block;
	float: left;
	margin: 0 14px 0 3px;
}
.reg{
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	font-family: "Lucida Sans Unicode",  sans-serif;
}
.passw{
	position: absolute;
	padding-top: 2px;
	font-size: 12px;
	color: #bfbfbf;
	font-family: "Lucida Sans Unicode",  sans-serif;
}

.registration a:hover {
	color: #bfbfbf;
	text-decoration: underline;
}
.hotkeys {
	float: left;
	width: 73px;
	height: 20px;
	margin:1px 0 0 18px;
	border:1px solid #c1c8cb;
	border-radius: 20px;
	box-shadow: 1px 1px 5px 0px rgba(185,185,185,0.75);
}
.hotkeys ul li {
	float: left;
	font-size: 11px;
	margin:0 0 2px 7px;
}
.logo {
	margin-top: 6px;
}



nav {
	width: 100%;
	height: 34px;
	margin-top: 3px;
	margin-bottom: 5px;
	line-height: 34px;
	background: linear-gradient(to top, #030303, #505860);
	border-radius: 5px;
	box-shadow: 3px 3px 5px 0px rgba(185,185,185,0.75);
}
.left_menu {
	margin-left: 130px;
}
.left_menu li {
	float: left;
}
.left_menu li a {
	color: #b1bcc0;
	padding: 0 17px;
	margin-top: 0;
	text-decoration: none;
	font-family: "Lucida Sans Unicode",  sans-serif;
	font-size: 13px;
}
nav li a:hover {
	color: #fff;
	background: linear-gradient(to top, #0d3458, #1f6787);
	border-radius: 20px;
	padding: 3px 17px 1px 17px;
}
.right_menu {
	float: right;
	margin-right: 19px;
	color: #929b9f;
	font-size: 11px;
	font-family: Arial, sans-serif;
	position: relative;
}
.basket_img {
	display: block;
	position: absolute;
	top: 8px;
	left: -26px;
}
.basket {
	display: inline-block;
	margin: 0 13px 0 3px;
}
.na_summu {
	display: inline-block;
}
.right_menu span {
	font-size: 12px;
	color: #0d5a8f;
}



.cars_search_form,
.shiny_search_form,
.diski_search_form {
	height: 133px;
	display: inline-block;
	border-radius: 20px;
	border:1px solid #b6b6b7;
}
.cars_search_form{
	width: 413px;
	margin: 6px 0 0 3px;
}
.shiny_search_form{
	width: 191px;
	margin: 6px 0 0 12px;
}
.diski_search_form{
	width: 266px;
	margin: 6px 0 0 6px;
}



.aside_left{
	width: 185px;
	height: 500px;
	float: left;
}
.katalog {
	width: 180px;
	height: 25px;
	margin-top: 16px;
	line-height: 27px;
	border: 1px solid #8b979c;
	border-radius: 20px;
	box-shadow: 3px 3px 5px 0px rgba(185,185,185,0.75);
	position: relative;
}
.katalog_img,
.big_marker  {
	position: absolute;
	top: 1px;
	left: 3px;
}
.left_sidebar p {
	display: block;
	color: #114165;
	font-size: 13px;
	font-family: "Lucida Sans Unicode",  sans-serif;
}
.shiny p{
	margin-left: 29px;
}
.katalog p{
	margin-left: 27px;
}
.diski p,
.bolt p   {
	margin-left: 25px;
}
.shiny,
.diski,
.bolt  {
	height: 26px;
	line-height: 28px;
	border: 1px solid #8b979c;
	border-radius: 20px;
	position: relative;
}
.shiny{
	width: 147px;
	margin: 13px 0 1px 1px;
}
.diski,
.bolt   {
	width: 149px;
	margin: -1px 0 1px 1px;
}
.left_sidebar ul {
	display: block;
	margin-left: 50px;
	font-size: 13px;
	line-height: 25px;
	font-family: "Lucida Sans Unicode",  sans-serif;
	list-style-image: url(../img/little_marker.png);
}
.left_sidebar a {
	width: 115px;
	display: block;
	color: #465961;
	margin-left: -4px;
	text-decoration: none;
	position: relative;
}
.left_sidebar a:hover {
	color: #0c3256;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	font-family: Arial,  sans-serif;
	font-size: 14px;
}
.left_sidebar li:hover {
	list-style-image: url(../img/dark_marker.png);
}


.aside_right{
	width: 185px;
	height: 500px;
	float: right;
}
.brend {
	width: 182px;
	height: 27px;
	margin-top: 13px;
	line-height: 27px;
	border: 1px solid #8b979c;
	border-radius: 20px;
	box-shadow: 3px 3px 5px 0px rgba(185,185,185,0.75);
	position: relative;
}
.brend_img {
	position: absolute;
	top: 2px;
	left: 4px;
}
.brend span {
	margin-left: 30px;
	color: #114165;
	font-size: 14px;
	font-family: "Lucida Sans Unicode",  sans-serif;
}
.brend p {
	margin-left: 19px;
	color: #114165;
	font-size: 13px;
	font-family: "Lucida Sans Unicode",  sans-serif;
}
.brend input {
	width: 10px;
	vertical-align: sub;
}
.shiny_right,
.diski_right {
	width:74%;
	height: 26px;
	line-height: 28px;
	border: 1px solid #8b979c;
	border-radius: 20px;
	position: relative;
}
.shiny_right{
	margin: 13px 0 1px 15px;
}
.diski_right   {
	margin:4px 0 4px 15px;
}
.right_button  button {
	width: 82px;
	height: 22px;
	margin: 9px 0 0 23px;
	border-radius: 20px;
	border-style: none;
	box-shadow: 3px 3px 5px 0px rgba(185,185,185,0.75);
	background: linear-gradient(to top, #0d3458, #1f6787);
	color: #e5e9ea;
}


.content {
	width: 527px;
	min-height:100%;
	margin: 0 auto;
	margin-top: 10px;
	background: linear-gradient(to top, #93a7b0, #e5e7e8);
	font-family: "Lucida Sans Unicode",  sans-serif;
	border-radius: 3px;
}
.content p {
	color: #1f2528;
	text-align: center;
	font-size: 12.8px;
}
.content span {
	font-weight: bold;
	color: #206988;
	font-size: 14.6px;
}
 .tovar1 {
	display:inline-block;
	margin: 19px 22px 0 1px;
}
.tovar2,
.tovar3 {
	display: inline-block;
	margin: 0 23px 0 0;
}
.line1,
.line2,
.line3 {
	width: 530px;
	height: 100%;
}
.line1 p:last-child,
.line2 p:last-child,
.line3 p:last-child {
	color: #114165;
	font-size: 16px;
	font-style: italic;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
.line1{
	margin: 0 29px 0 22px;
}
.line2 {
	margin: 25px 29px 0 22px;
}
.line3 {
	margin: 27px 29px 30px 22px;
	padding-bottom: 30px;
}
.price {
	display: block;
	margin: 2px 0 0 13px;
}



 .emblemy {
	width: 78%;
	margin: 0 auto;
	margin-top: 40px;
	padding-bottom: 22px;
}
.emblemy img {
	margin-left: 12px;
	vertical-align:  top;
	line-height: 27px;
}



footer {
	width: 100%;
	height: 96px;
	background-color: #213a4d;
  border:1px solid #242c3e;
  font-family: Arial, sans-serif;
}
footer a {
	margin-left: 12px;
	text-decoration: none;
	font-size: 12px;
	color: #bec6c9;
}
footer a:hover {
	color: #52abcb;
}
footer p {
	color: #7f4740;
	font-size: 10px;
	text-align: center;
}
.menu_footer {
	width: 326px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 15px;
}
.line_footer {
	display: inline-block;
	height: 11px;
	margin-left: 10px;
	border: 1px solid #bec6c9;
	vertical-align: text-bottom;
}
