*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../img/fon.jpg);
}
.wrapper{
  background-color: white;
  width: 1000px;
  border: 1px solid #c7cacf;
  height: auto;
  margin: 0 auto;
  box-shadow:  0 0 20px rgba(0,0,0,0.5);
}
.header{
  height: 176px;
}
.fig{
  float: left;
  margin-left: 20px;
}
.contact{
  text-align: left;
}
.contact span ul{
  list-style: none;
  padding: 0;
  margin-left: 812px;
  color: #128aa7;
}
.contact p{
  font-weight: bold;
  text-align: left;
  margin-left: 812px;
  color: #128aa7;
  padding-top: 9px;
  padding-bottom: 8px;
}
.contact p,
.contact li{
  font-size: 15px;
}
.navigation {
    list-style: none;
    margin-left: 600px;
}
.navigation li {
    float: left;
    margin-right: 10px;
    margin-top: 16px;
}
.navigation a {
    display: block;
    text-align: center;
    padding-top: 45px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #128aa7;
}
.navigation .India a {
    background-image: url(../img/1.jpg);
}
.navigation .Nepal a {
    background-image: url(../img/2.jpg);
}
.navigation .Tibet a {
    background-image: url(../img/3.jpg);
}
.navigation .Butane a {
    background-image: url(../img/4.jpg);
}
.navigation .SriLanka a {
    background-image: url(../img/5.jpg);
}
.navigation .Maldives a {
    background-image: url(../img/6.jpg);
}

.picture{
  width: 1000px;
  height: 237px;
}

ul.menu {
	background-color: #303030;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
	width: 1000px;
  height: 36px;
}
ul.menu>li {
	float: left;
	list-style: none;
	position: relative;
}
ul.menu>li>a {
	color: white;
	display: block;
	padding: 8px 32px 10px;
	text-decoration: none;
}
.submenu{
  border-top: 1px solid black;
  margin-left: 22px;
}
ul.menu>li>ul {
	display: none;
}
ul.menu>li:hover>ul {
	display: block;
	position: absolute;
	top: 36px;
	background-color: #303030;
	z-index: 1000;
}
ul.menu>li:hover>ul>li {
	float: none;
	width: 150px;
	list-style: none;
}
ul.menu>li:hover>ul>li>a {
	padding: 6px 33px 8px 10px;
	display: block;
	color: white;
	text-decoration: none;
}

.columm {
width: 1000px;
height: 540px;
overflow: hidden;
}

.info {
width: 210px;
float: left;
background: #edeef0;
color: #424c43;
padding-bottom: 20000px;
text-align: center;
line-height: 1.5;
}
.info li{
  list-style: none;
}
.info_text{
  width: 209px;
}
.content {
width: 580px;
float: left;
padding-bottom: 20000px;
}

.news {
width: 210px;
float:  right;
background: #edeef0;
color: #424c43;
padding-bottom: 20000px;
text-align: center;
line-height: 1.5;
}
.news_text{
  width: 209px;
}
.news_text li{
  list-style: none;
}

.footer{
text-align: center;
margin: 3px;
color: white;
font-size: 12px;
}
