/*----- Carousel -----*/

body{
background: url(../img/bg.jpg);
}
.carousel {
	width: 900px;
  height: 450px;
  position: absolute;
	margin: 20px auto;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -448px;
}
.carousel_list {
  width: 800px;
  height: 450px;
  float: left;
	position: relative;
  overflow: hidden;
}
.carousel_hider {
	position: relative;
	left: 0;
	top: 0;
	width: 10000px;
}
.carousel_item {
	float: left;
}
.item_image {
  max-width: 800px;
}
.carousel_arrow {
  float: left;
  display: block;
  padding: 5px;
  margin-top: 200px;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid #7474E2;
  color: #fff;
  background-color: #31A9EF;
}
.carousel_arrow:hover {
  cursor: pointer;
  background-color: blue;
}
.carousel_arrow_left {
  margin-right: 20px;
}
.carousel_arrow_right {
  margin-left: 20px;
}
